@use "sass:math";
@use "../../themes/theme" ;
@use "../../themes/mix-ins";

.text-editor {
  margin-bottom: theme.$spacing * 2.5;

  &-body {
    .input {
      margin-bottom: theme.$spacing;
      padding: theme.$spacing;
      border-bottom: 1px solid theme.colors("secondary");
      overflow: auto;
    }

    .footer {
      display: flex;
      justify-content: right;

      .button {
        @include mix-ins.button(60px, 20px);
        margin-left: math.div(theme.$spacing, 2);

        &.submit {
          background-color: theme.colors("button", "accept");
          border: 1px solid theme.colors("button", "accept-border");

          &:hover {
            background-color: theme.colors("button", "accept-hover");
          }
        }
      }
    }
  }

}