@use "../../themes/theme";
@use "../TextEditor/styles.module.scss";

.thread {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  margin-bottom: 4 * theme.$spacing;

  width: 40vw;
  border: 1px solid theme.colors("primary-darker");
  border-radius: theme.$spacing theme.$spacing 0 0;
  overflow: hidden;

  .text-editor {
    @extend .text-editor;
    width: 37vw;
    padding-left: 2vw;

    .input {
      height: 100px;
      border: 1px solid theme.colors("primary-darker");
      border-radius: theme.$spacing;
    }
  }
}
