@use "../../themes/theme" ;
@use "../../themes/mix-ins";

.thread {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  margin-bottom: 4 * theme.$spacing;

  //.body {
    width: 600px;
    border: 1px solid theme.colors("secondary");
    border-radius: 5px 5px 0 0;

    .text-editor {
      @include mix-ins.text-editor(540px, auto);
      width: 540px;
      padding-left: 40px;
      padding-right: 20px;

      .input {
        height: 100px;
        border: 1px solid theme.colors("secondary");
        border-radius: 5px;
      }
    }
 // }
}
