@use "../../themes/theme";
@use "../../themes/mixins";

.artifact {
  width: 60vw;
  margin: auto;
  margin-bottom: 4*theme.$spacing;
  padding: 2*theme.$spacing;

  .title {
    margin: auto;
    font-size: 3rem;
    text-align: center;
  }

  .body {
    display: flex;

    .image {
      width: auto;
      height: 25vh;
      margin-right: 2 * theme.$spacing;
      border-radius: theme.$spacing;
    }

    .content {
      padding: theme.$spacing;
      margin-right: 4 * theme.$spacing;
      font-size: 1.25rem;
    }

    .panel {
      width: 10vw;
      height: fit-content;
      border-left: 1px solid theme.colors("primary-darker");
      padding: theme.$spacing;

      .font-icon {
        @include mixins.font-icon();
        border-top: 1px solid theme.colors("primary-darker");
        padding: theme.$spacing;
      }
    }
  }
}
