@use "../../themes/theme";
@use "../FontIcon/styles.module.scss";

.artifact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: fit-content;
  margin: auto;
  padding: 2*theme.$spacing;

  .title {
    width: fit-content;
    margin: auto;
    font-size: 3rem;
    text-align: center;
  }

  .body {
    display: flex;
    margin: auto;
    margin-bottom: 4*theme.$spacing;

    .image {
      display: inline;
      margin-right: 2 * theme.$spacing;
      border-radius: theme.$spacing;
    }

    .content {
      display: flex;
      width: 600px;
      padding: theme.$spacing;
      margin-right: 4 * theme.$spacing;
      font-size: 1.25rem;
    }

    .panel {
      width: 100px;
      height: fit-content;
      border-left: 1px solid theme.colors("secondary");
      padding: theme.$spacing;

      .font-icon {
        @extend .font-icon;
        border-top: 1px solid theme.colors("secondary");
        padding: theme.$spacing;
      }
    }
  }
}
