@use "../../themes/theme";
@use "../../themes/mixins";

.artifact {
  margin: auto;
  padding: 2*theme.$spacing;

  .title {
    width: auto;
    margin: auto;
    font-size: 3rem;
    text-align: center;
  }

  .body {
    display: flex;
    width: 90vw;
    margin: auto;
    margin-bottom: 4*theme.$spacing;

    .image {
      width: 25vw;
      margin-right: 2 * theme.$spacing;
      border-radius: theme.$spacing;
    }

    .content {
      display: flex;
      width: 50vw;
      padding: theme.$spacing;
      margin-right: 4 * theme.$spacing;
      font-size: 1.25rem;
    }

    .panel {
      width: 15vw;
      height: fit-content;
      border-left: 1px solid theme.colors("primary-darker");
      padding: theme.$spacing;

      .font-icon {
        @include mixins.font-icon();
        border-top: 1px solid theme.colors("primary-darker");
        padding: theme.$spacing;
      }
    }
  }
}
