@use "../../themes/theme";

.artifact-card {
  display: inline-flex;
  flex-flow: column;
  margin-bottom: theme.$spacing;
  width: 300px;
  text-decoration: none;

  .image {
    border-radius: 2*theme.$spacing 2*theme.$spacing 0 0;
  }

  .info {
    border-radius: 0 0 2*theme.$spacing 2*theme.$spacing;
    padding: theme.$spacing;
    background-color: theme.colors("primary");
    color: theme.colors("text", "secondary");

    & div:first-child {
      font-size: 1.4rem;
    }
  }

  &:hover .info {
    background-color: theme.colors("secondary");
  }

}