@use "sass:math";
@use "../../themes/theme";
@use "../../themes/mixins";

.search-pagination {
  padding: theme.$spacing;

  .button {
    @include mixins.button(auto, auto);
    margin-right: math.div(theme.$spacing, 1.5);
    border-radius:math.div(theme.$spacing, 2);
    background-color: theme.colors("primary-faded");

    &.active, &:hover {
      color: #FFF;
      background-color: theme.colors("secondary");
    }
  }

  .divider {
    margin-left: theme.$spacing -  math.div(theme.$spacing, 1.5);
    margin-right: theme.$spacing;
  }
}