// https://paletton.com/#uid=13-0u0k2nTu00++0yZd5qKc9NxZ
$default-spacing: 0.33rem;

@mixin button(
  $width: 4vw,
  $height: 2.5vh,
  $background-color: #DAE2EA,
  $color: black
) {
  width: $width;
  height: $height;
  margin: $default-spacing/2;
  border: 1px solid #7b93ab;
  border-radius: 0.33rem;
  background-color: $background-color;
  color: $color;
  cursor: pointer;

  &:hover {
    background-color: #7b93ab;
  }
}

