@use "./theme";
@use "sass:math";

@mixin button(
  $width: 4vw,
  $height: 2.5vh,
  $color: theme.colors("text", "secondary"),
  $background-color: theme.colors("button", "default")
) {
  width: $width;
  height: $height;
  border: 0;
  border-radius: theme.$spacing;
  background-color: $background-color;
  color: $color;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: theme.colors("button", "default-hover");
  }
}

@mixin text-editor(
  $width: auto,
  $height: auto,
  $border-color: theme.colors("primary-darker")
) {
  width: $width;
  height: $height;
  margin-bottom: theme.$spacing * 2.5;

  .input {
    margin-bottom: theme.$spacing;
    padding: theme.$spacing;
    border-bottom: 1px solid $border-color;
    overflow: auto;
  }

  .footer {
    display: flex;
    justify-content: right;

    button {
      @include button(60px, 20px);
      margin-left: math.div(theme.$spacing, 2);

      &.submit {
        color: #fff;
        background-color: theme.colors("button", "accept");
        border: 1px solid theme.colors("button", "accept-border");

        &:hover {
          background-color: theme.colors("button", "accept-hover");
        }
      }
    }
  }
}

@mixin font-icon(
  $size: 24px,
  $color: theme.colors("font-icon", "default"),
  $color-active: theme.colors("font-icon", "default-active"),
  $color-hover: theme.colors("font-icon", "default-hover")
) {
  display: flex;
  align-items: center;
  margin-right: 2 * theme.$spacing;
  color: $color;
  font-size: $size;
  cursor: pointer;

  &.active {
    color: $color-active;

    &:hover {
      color: $color-hover;
    }
  }

  &.disabled {
    cursor: default;
  }

  .icon {
    font-size: $size;
  }

  .label {
    color: theme.colors("text", "primary");
    font-size: 1rem;
    margin-left: 0.5 * theme.$spacing;
  }
}
