@use "./theme";

@mixin button(
  $width: 4vw,
  $height: 2.5vh,
  $color: theme.colors("text", "primary"),
  $background-color: theme.colors("button", "default"),
  $border-color: theme.colors("button", "default-border")
) {
  width: $width;
  height: $height;
  border: 1px solid $border-color;
  border-radius: 0.33rem;
  background-color: $background-color;
  color: $color;
  cursor: pointer;

  &:hover {
    background-color: #7b93ab;
  }
}