@use "./default";

$themes: (
  default: true,
);

$spacing: 0.33rem ;

@function colors($keys...) {
  $map: 0;

  @if map-get($themes, "default") {
    $map: default.$colors;
  }

  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}
