@use "sass:map";
@use "./default.scss";
@use "./orange-theme.scss";

$themes: (
  default: false,
  orange-theme: true,
);

$spacing: 0.33rem ;

@function colors($keys...) {
  $map: ();

  @if map.get($themes, "default") {
    $map: default.$colors;
  } @else if map.get($themes, "orange-theme") {
    $map: orange-theme.$colors;
  }

  @each $key in $keys {
    $map: map.get($map, $key);
  }

  @return $map;
}
