.post {
  display: flex;
  justify-content: center;

  .body {
    width: 50vw;
    border: 1px solid #CCCCCC;
    border-radius: 0.33rem;
    padding: 0.75rem;
    .info {
      display: flex;
      justify-content: right;

      .timestamp,
      .user {
        display: inline;
        margin: 0;
      }
    }
  }

  .panel {
    width: 6vw;
  }
}
