@use "../../themes/theme";
@use "../CommentHeader/styles.module.scss";

.post {
  width: 40vw;
  margin-bottom: theme.$spacing * 2.5;

  .comment-header {
    @extend .comment-header;
  }

  .body {
    width: auto;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }
}
