@use "../../themes/theme";
@use "../../themes/mixins";

.search-bar {
  height: 34px;
  width: 20vw;
  border: 1px solid theme.colors("primary-darker");
  margin-right: theme.$spacing;
  margin-left: auto;
  border-radius: 5px;
  background-color: theme.colors("primary");

  form {
    display: inline-flex;
    align-items: center;
    height: inherit;
    width: inherit;

    input {
      width: inherit;
      height: inherit;
      margin-right: auto;
      padding-left: theme.$spacing;
      border: 0;
      background-color: transparent;
      color: theme.colors("text", "secondary");
      outline: none;
    }

    .font-icon {
      @include mixins.font-icon(24px, null, theme.colors("primary-lightest"), theme.colors("primary-lightest"));
      cursor: default;
    }
  }
}
