@use "../../themes/theme";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto", sans-serif;

  body {
    margin: 0;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: theme.colors("primary");
  }

  &::-webkit-scrollbar-thumb {
    background-color: theme.colors("secondary");
  }
}
