@use "../../themes/theme";

.text-editor-control-button {
  cursor: pointer;
  margin-left: 0.5*theme.$spacing;
  border-radius: theme.$spacing;

  &.active {
    //color: #FFF;
    background-color: theme.colors("primary");
  }
}