@use "../../themes/theme";

.artifact-tag {
  min-width: 1vw;
  margin-right: theme.$spacing;
  margin-bottom: theme.$spacing;
  padding-left: theme.$spacing;
  padding-right: theme.$spacing;
  background-color: theme.colors("tag", "default");
  border-radius: 1.5*theme.$spacing;;
  color: theme.colors("text", "secondary");
  text-align: center;
  line-height: 1.5rem;
  text-decoration: none;

  &:hover {
    color: #FFF;
    background-color: theme.colors("tag", "default-hover");
  }
}