@use "../../themes/theme";

.category-list {
  display: flex;
  flex-flow: column;
  width: 13vw;
  height: auto;
  background-color: theme.colors("primary");
  color: theme.colors("text", "secondary")
}