@use "../../themes/theme";
@use "../FontIcon/styles.module.scss";

.text-editor-controls {
  margin-bottom: theme.$spacing;
  border-bottom: 1px solid theme.colors("secondary");

  .inline-controls,
  .block-controls {
    display: inline-flex;
    height: inherit;
    margin-left: 2 * theme.$spacing;

    .font-icon {
      @extend .font-icon;
      margin-right: 0.5 * theme.$spacing;
      border-radius: theme.$spacing;

      &.active {
        //color: #FFF;
        background-color: theme.colors("primary");
      }
    }
  }
}
