@use "../../themes/theme";
@use "../../themes/mixins";

.text-editor-controls {
  margin-bottom: theme.$spacing;
  border-bottom: 1px solid theme.colors("primary-darker");

  .inline-controls,
  .block-controls {
    display: inline-flex;
    height: inherit;
    margin-left: 2 * theme.$spacing;

    .font-icon {
      @include mixins.font-icon();
      margin-right: 0.5 * theme.$spacing;
      border-radius: theme.$spacing;
    }
  }
}
