@use "../../themes/theme";

.text-editor-controls {
  //height: 24px;
  //background-color: theme.colors("primary");
  //border: 1px solid theme.colors("secondary");
  //border-bottom: 0;
  //border-radius: theme.$spacing theme.$spacing 0 0;

  border-bottom:  1px solid theme.colors("secondary");

  .inline-controls, .block-controls {
    display: inline-block;
    height: inherit;
    margin-left: 2*theme.$spacing;
  }
}
