@use "../../themes/base";
$prefix: text-editor;

.#{$prefix}.container {
  @include base.comment(35vw);
  padding-left: 3vw;

  .body {
    .input {
      height: 15vh;

      border: 1px solid #cccccc;
      border-radius: 0.33rem;
      overflow: auto;
    }


    .footer {
      justify-content: right;
      padding-top: 0.33rem;

      .button {
        @include base.button();

        &.submit {
          background-color: #4caf50;
        }

        &.cancel {
          color: black;
        }
      }
    }
  }
}
