@use "../../themes/base";
$prefix: "panel";

.#{$prefix} {
  width: 20px;
  padding-left: base.$default-spacing;

  .font-icon {
    color: #7b93ab;

    &:hover, &.active {
      color: black;
      cursor: pointer;
    }
  }

  .font-icon.disabled {
    color: #7b93ab;
  }
}