@use "../../themes/theme" ;

.post-panel {
  width: 20px;
  padding-left: theme.$spacing;

  .font-icon {
    color: theme.colors("font-icon", "disabled");
    cursor: pointer;

    &:hover, &.active {
      color: theme.colors("font-icon", "default");
    }

    &.disabled {
      color: theme.colors("font-icon", "disabled");
      cursor: default;
    }
  }
}