@use "../../themes/theme" ;

.post-panel {
  width: 20px;
  padding-left: theme.$spacing;

  .font-icon {
    color: theme.colors("secondary");

    &:hover, &.active {
      color: theme.colors("text", "primary");
      cursor: pointer;
    }

    &-disabled {
      color: theme.colors("secondary");
      cursor: default;
    }
  }
}