@use "../../themes/theme";
@use "../TextEditor/styles.module.scss";

.blog-view {
  .text-editor {
    @extend .text-editor;
    width: 600px;
    margin: auto;
    margin-bottom: theme.$spacing * 2.5;

    .input {
      min-height: 300px;
      border: 1px solid theme.colors("secondary");
      border-radius: 0 0 theme.$spacing theme.$spacing;
      border-radius: 5px;
    }
  }
}
