@use "../../themes/base";
$prefix: comment;

.#{$prefix}.container {
  @include base.comment();
  padding-left: 3vw;

  .text-editor.container {
    margin: 0;
    padding-left: 0;

    .input {
      height: auto;
    }
  }
}
