@use "../../themes/theme" ;

.comment {
  width: 540px;
  margin-bottom: theme.$spacing * 2.5;
  padding-left: 40px;

  &-body {
    .content {
      padding: theme.$spacing;

      border-bottom: 1px solid theme.colors("secondary");
    }
  }
}
